<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.windowstatusbar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.windowstatusbar.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity android:name=".activity.ShareSdkActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.SelectViewActivity" />
        <activity android:name=".activity.MyDialogActivity" />
        <activity android:name=".ImageCompressActivity" />
        <activity android:name=".activity.SeekBarActivity" />
        <activity android:name=".activity.ShareElementTwoActivity" />
        <activity android:name=".activity.ShareElementActivity" />
        <activity android:name=".activity.BannerActivity" />
        <activity android:name=".activity.ButtomDialogActivity" />
        <activity android:name=".activity.PopupActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".arc_header_view.ArcHeaderActivity" />
        <activity android:name=".arc_header_view.ArcHeaderImageActivity" />
        <activity android:name=".activity.GlideActivity" />
        <activity android:name=".activity.CardViewActivity" />
        <activity android:name=".activity.ImageViewActivity" />
        <activity android:name=".activity.StatusBarActivity" />
        <activity
            android:name=".activity.MatisseActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".activity.TabActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- tencent + 自己的qq app id -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:configChanges" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5cdb6eb24ca3577cf4000d92" />

        <activity
            android:name=".activity.TransitionNextActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.TransitionActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.CollapsingToolbarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.TapBarMenuActivity" />
        <activity android:name=".activity.WaveStockActivity" />
        <activity android:name=".activity.WaveSlideActivity" />
        <activity android:name=".activity.RecyclerViewIndicatorActivity" />
        <activity android:name=".activity.SearchViewSecondActivity" />
        <activity android:name=".activity.SearchViewActivity" />
        <activity android:name=".activity.BrowserActivity" />
        <activity android:name=".activity.AnimatorViewActivity" />
        <activity android:name=".activity.LottieJsonActivity"/>
        <activity android:name=".activity.SplashActivity" />
    </application>

</manifest>